img{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 25px;
    width: 450px;
    height: 450px;
    
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
h1{
    text-align: center;
    font-family: 'Caprasimo', cursive;
}